/*
COLOURS

TRU Blue
PANTONE: 3035
CMYK 100/30/19/76
RGB 0/62/81
Hex: #003e51

TRU Teal
PANTONE: 7466
CMYK 86/0/32/0
RGB 0/176/185
Hex: #00b0b9

TRU Sage
PANTONE: 5565
CMYK 27/5/25/0 
RGB 186/209/186 
Hex: #bad1ba

TRU Grey
PANTONE: 5425
CMYK 45/16/9/24
RGB 122/153/172
#9ab7c1

TRU Yellow
PANTONE: 116
CMYK 0/18/100/0
RGB 255/205/0
Hex: #ffcd00

TRU Cloud
PMS Custom Mix
CMYK 2/2/0/0
RGB 255/245/222
Hex: #fff5de

OL Green
PMS SPOT (Colour Bridge Coated*) 3278CP
CMYK 99/0/69/0
RGB 0/177/143
Hex: #00b18f
*/

:root {
  --color-tru-blue: #003e51;
  --color-tru-teal: #00b0b9;
  --color-tru-sage: #bad1ba;
  --color-tru-gray: #9ab7c1;
  --color-tru-yellow: #ffcd00;
  --color-tru-cloud: #fff5de;
  --color-ol-green: #00b18f;
  --color-teal-bg: #00b0b9;
  --color-tru-orange: #f88f23;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  /* smoother and more legible texts to firefox on mac */
  -moz-osx-font-smoothing: grayscale;
  /* smoother and more legible texts to webkit browsers on mac and windows */
  -webkit-font-smoothing: antialiased;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  width: 100vw;
  margin-bottom: 100px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
  */

.App-header h1 {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: block;
  font-size: calc(10px + 2vmin);
  color: black;
  flex: 1;
}

* {
  font-family: 'Roboto', sans-serif !important;
  /* font-family: 'Roboto Slab', serif !important; */
}

.btn {
  border-radius: 0 !important;
  font-weight: bold !important;
  font-size: 1.125rem !important;
  width: 120px !important;
}

.btn-primary {
  background-color: var(--color-tru-teal) !important;
  border-color: var(--color-tru-teal) !important;
}

.btn-secondary {
  background-color: var(--color-tru-orange) !important;
  border-color: var(--color-tru-orange) !important;
}

.btn:hover {
  filter: brightness(115%);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.progress {
  --bs-progress-bar-bg: var(--color-tru-teal) !important;
}

.accordian-button {
  background-color: #003e51 !important;
}

.spinner-grow {
  background-color: var(--color-tru-teal) !important;
  /* background-color: white !important; */
}

/* .alert-success {
    color: #155724 !important;
    background-color: #d4edda;
    border-color: #c3e6cb;
  } */