/*
COLOURS FROM TRU BRANDING

TRU Blue
PANTONE: 3035
CMYK 100/30/19/76
RGB 0/62/81
Hex: #003e51

TRU Teal
PANTONE: 7466
CMYK 86/0/32/0
RGB 0/176/185
Hex: #00b0b9

TRU Sage
PANTONE: 5565
CMYK 27/5/25/0 
RGB 186/209/186 
Hex: #bad1ba

TRU Grey
PANTONE: 5425
CMYK 45/16/9/24
RGB 122/153/172
#9ab7c1

TRU Yellow
PANTONE: 116
CMYK 0/18/100/0
RGB 255/205/0
Hex: #ffcd00

TRU Cloud
PMS Custom Mix
CMYK 2/2/0/0
RGB 255/245/222
Hex: #fff5de

OL Green
PMS SPOT (Colour Bridge Coated*) 3278CP
CMYK 99/0/69/0
RGB 0/177/143
Hex: #00b18f
*/

*,
*:before,
*:after {
  /* specified width and height is all inclusive with respect to borders, padding, and content */
  box-sizing: border-box;
  font-family: 'Adelle', sans-serif !important;
}

body,
html {
  overflow-x: hidden !important;
}

:root {
  --color-tru-blue: #003e51;
  --color-tru-teal: #00b0b9;
  --color-tru-sage: #bad1ba;
  --color-tru-gray: #9ab7c1;
  --color-tru-yellow: #ffcd00;
  --color-tru-cloud: #fff5de;
  --color-ol-green: #00b18f;
  --color-teal-bg: #00b0b9;
  --color-tru-orange: #f88f23;
  --color-tru-callout-bg: #fff3bf;
  --color-tru-regular-bg: #E0F6F7;
  --color-tru-error-bg: #ffbfbf;
  --color-tru-bluebg: #003e51;
  --color-tru-panel-paragraph: #333;
  --color-skeleton-loading: #DDDBDD;
}

.alert {
  color: var(--color-tru-panel-paragraph) !important;
  padding: 1.15em !important;
  border-radius: 0 !important;
  width:100% !important;
}

.alert-danger {
  background-color: var(--color-tru-error-bg) !important;
  border-color: var(--color-tru-error-bg) !important;
}

.alert-heading {
  color: var(--color-tru-blue) !important;
  padding-bottom: 10px;
  font-size: 1.25rem !important;
}

.alert-primary {
  background-color: var(--color-tru-regular-bg) !important;
  border-color: var(--color-tru-regular-bg) !important;
}

.alert-warning {
  background-color: var(--color-tru-callout-bg) !important;
  border-color: var(--color-tru-callout-bg) !important;
}

.App {
  margin: 0 50px 0 50px;
  margin-left: clamp(20px, 15vw, 400px);
  margin-right: clamp(20px, 15vw, 400px);
}

.App-container {
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: left;
  flex: 1;
  flex-direction: column;
  /* smoother and more legible texts to firefox on mac */
  -moz-osx-font-smoothing: grayscale;
  /* smoother and more legible texts to webkit browsers on mac and windows */
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  margin-bottom: 100px;
}

.App-logo {
  height:100px;
  pointer-events: none;
}

.App-header {
  background: var(--color-tru-blue);
  margin: 0;
  text-align: center;
}

.App-container h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.125rem;
  color: var(--color-tru-blue);
  flex: 1;
  margin: 30px 0 0 0;
}

.btn {
  border-radius: 0 !important;
  font-size: 1.125rem !important;
  color: white !important;
  width: 250px;
  margin: 5px 15px 5px 0px;
  padding: 10px 0 10px 0 !important;
}

.dropdown-toggle-split {
  border-radius: 0 !important;
  font-size: 1.125rem !important;
  color: white !important;
  width: 30px;
  height: 49px;
  margin: 0;
  padding: 0 !important;
  align-self: center;
  align-items: center;
}

.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn:hover {
  filter: brightness(125%);
  transition: none !important;
}

.btn-primary {
  background-color: var(--color-tru-teal) !important;
  border-color: var(--color-tru-teal) !important;
}

.btn-primary2 {
  background-color: var(--color-tru-bluebg) !important;
  border-color: var(--color-tru-bluebg) !important;
}

.btn-primary3 {
  background-color: var(--color-ol-green) !important;
  border-color: var(--color-ol-green) !important;
}

.btn-secondary {
  width: 110px;
  padding: 10px 25px 10px 25px !important;
  margin: 0 !important;
  color: var(--color-tru-blue) !important;
  background-color: var(--color-tru-yellow) !important;
  border-color: var(--color-tru-yellow) !important;
}

.errors {
  background-color: var(--color-tru-error-bg);
}

 .grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
  margin: 5px 0 5px 0;
}

.grid-list li {
  overflow-wrap: break-word;
  padding-right: 5px;
  margin: 2px 0 2px 0;
}

.progress {
  --bs-progress-bar-bg: var(--color-tru-teal) !important;
}

/* .spinner-border {
  color: var(--color-tru-blue) !important;
} */

.skeleton-button {
  width: 250px;
  height: 49px;
  background-color: var(--color-skeleton-loading);
  cursor: pointer;
  margin: 25px 20px 45px 0px;
}

.skeleton-loading {
  position: relative;
  overflow: hidden;
}

.skeleton-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.skeleton-text1 {
  width: 100%;
  height: 19px;
  background-color: var(--color-skeleton-loading);
  margin: 0 0 16px 0;
}
.skeleton-text2 {
  width: 100%;
  height: 48px;
  background-color: var(--color-skeleton-loading);
}

.spinner-border-sm {
  --bs-spinner-width: 1.25rem !important;
  --bs-spinner-height: 1.25rem !important;
  --bs-spinner-border-width: 0.2em !important;
}

.spinner-grow {
  background-color: var(--color-tru-blue) !important;
}

.spinner-grow-sm {
  --bs-spinner-width: 1.25rem !important;
  --bs-spinner-height: 1.25rem !important;
}

.warnings {
  background-color: var(--color-tru-callout-bg);
}